@tailwind base;
@tailwind components;
@tailwind utilities;

/* The lines which have been commented out were already present as a css reset, instead I've used my own css resets*/

/*:root {*/
/*--foreground-rgb: 0, 0, 0;*/
/*--background-start-rgb: 214, 219, 220;*/
/*--background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*:root {*/
/*--foreground-rgb: 255, 255, 255;*/
/*--background-start-rgb: 0, 0, 0;*/
/*--background-end-rgb: 0, 0, 0;*/
/*}*/
/*}*/

/*body {*/
/*color: rgb(var(--foreground-rgb));*/
/*background: linear-gradient(*/
/*to bottom,*/
/*transparent,*/
/*rgb(var(--background-end-rgb))*/
/*)*/
/*rgb(var(--background-start-rgb));*/
/*}*/

:root {
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(232, 12%, 13%);
  --clr-neutral-900: hsl(0 0% 0%);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-675: 1.5rem;
  --fs-700: 1.875rem;
  --fs-750: 2rem;
  --fs-775: 2.25rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fs-1000: 4rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}
